---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout title="Home">
    <div class="flex justify-center -m-8">
        <div class=" w-9/12 h-32 border-2 border-amber-50">
            <h1 class="text-white ">Hi,I'm Paulina</h1>

        </div>
    </div>
</BasicLayout>